<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CaveroClubhuis</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CaveroClubhuis.styles.css" asp-append-version="true" />

</head>
<body>
    <header>
        <div class="home-screen">
            <div class="overlap">
                <div class="sidebar">
                    <a>
                        <button class="settings">
                            <img src="~/images/settings.png" width="50" height="auto" />
                            Settings
                        </button>
                    </a>
                    <div class="line"></div>
                    <div class="cavero">
                        <img src="~/images/Cavero_white.png" width="250" height="auto" />
                    </div>

                    <div class="profile">
                        <img class="profile_picture" src="img/ellipse-2.png" />
                        <div class="profile_text">@User.Identity?.Name</div>
                    </div>
                    <button class="check-in">
                        Check - in
                    </button>
                    <a>
                        <button class="notification">
                            <img src="~/images/Bell.png" width="50" height="auto" />
                        </button>
                    </a>
                    <div class="line-2"></div>
                    <div class="line-3"></div>
                </div>

                <div class="menu-bar">
                    <a href="/">
                        <button class="menu-buttons">
                            <img src="~/images/Home_Icon2.png" width="25" height="auto" />
                            Home
                        </button>
                    </a>
                    <a href="/Kalender">
                        <button class="menu-buttons">
                            <img src="~/images/Calender_Icon.png" width="25" height="auto" />
                            Calendar
                        </button>
                    </a>
                    <a href="/Events">
                        <button class="menu-buttons">
                            <img src="~/images/Event_Icon.png" width="25" height="auto" />
                            Events
                        </button>
                    </a>
                    <a href="/">
                        <button class="menu-buttons">
                            <img src="~/images/News.png" width="25" height="auto" />
                            News
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>