# Ignore Mac / Windows system files
.DS_Store

# Ignore JetBrains + vscode settings
.idea/
.vscode/
.vs/

#ignore ide objects
.obj/

# Ignore cache and user-specific files
.cache/
.com
DotSettings.user
Folder.DotSettings.User
```
