@page
@model CaveroClubhuis.Pages.AdminModel
@{
    ViewData["Title"] = "Admin";
}

<head>
    <link rel="stylesheet" href="~/css/Admin.css" asp-append-version="true" />
</head>
<body>
    <div class="main-body">
        <div class="admin-bar">
            <!-- Buttons for the admin-->
            <a href="/MakeEvent">
                <button id="makeButton" class="admin-button">
                    Event aanmaken
                </button>
            </a>
            <a href="/AdminChange">
                <button id="changeButton" class="admin-button">
                    Event aanpassen
                </button>
            </a>
            <a href="/AdminDelete">
                <button id="removeButton" class="admin-button">
                    Event verwijderen
                </button>
            </a>
            <a href="/AdminMakeTeam">
                <button id="TeamButton" class="admin-button">Team aanmaken</button>
            </a>
            <a href="/AdminRemoveTeam">
            <button id="TeamButton" class="admin-button">Team verwijderen</button>
            </a>
            <a href="/AdminFeedback">
				<button id="feedbackButton" class="admin-button">Feedback bekijken</button>
            </a>
        </div>
    </div>
</body>
