@page
@model CaveroClubhuis.Pages.AdminRemoveTeamModel
@{
    ViewData["Title"] = "Admin";
}

<head>
    <link rel="stylesheet" href="~/css/Admin.css" asp-append-version="true" />
</head>


<body>
    <div class="main-body">
        <div class="admin-bar">
            <!-- Buttons for the admin-->
            <a href="/MakeEvent">
                <button id="makeButton" class="admin-button">
                    Event aanmaken
                </button>
            </a>
            <a href="/AdminChange">
                <button id="changeButton" class="admin-button">
                    Event aanpassen
                </button>
            </a>
            <a href="/AdminDelete">
                <button id="removeButton" class="admin-button">
                    Event verwijderen
                </button>
            </a>
            <a href="/AdminMakeTeam">
                <button id="TeamButton" class="admin-button">Team aanmaken</button>
            </a>
            <a href="/AdminRemoveTeam">
                <button id="TeamButton" class="admin-button" style="background-color: #803689; color: white;">Team verwijderen</button>
            </a>

        </div>

        <div class="make-event">
            <div class="form-dialog-header">
                <header>
                    <div class="maketeam">Team verwijderen</div>
                </header>

                <div class="line"></div>
            </div>
            <form id="make" method="post" class="make-event-form" asp-page-handler="RemoveTeam">
                <select asp-for="chosenTeamID">
                    <option value=@Model.chosenTeamID>Selecteer een team</option>
                    @foreach (var item in Model.teams)
                    {
                        <option value="@item.Id">@item.Title</option>
                    }
                </select>
                <span asp-validation-for="chosenTeamID" class="error-message"></span>

                <div class="explain">Vul het veld in om een team te maken.</div>
                <input type="submit" value="opslaan">
            </form>
            
        </div>
        </div>
</body>

<style>
    .form-dialog-header {
        display: flex;
        flex-direction: column; /* Assuming .make-event is a flex container */
        align-items: center; /* Center items horizontally */
    }

    .line {
        height: 1px;
        width: 370px; /* Set the width to 300px */
        border-bottom: 1px solid rgba(177, 179, 180, 0.2);
        ;
    }

    .form-dialog-header header {
        padding: 10px;
        font-size: 20px;
        font-weight: normal;
        text-align: center;
    }

    .explain {
        margin-left: 75px;
    }


</style>