@page
@using System.Runtime.InteropServices.JavaScript
@model CaveroClubhuis.Pages.EventsModel
@{
    ViewData["Title"] = "Evenementen";
}
<head>
    <link rel="stylesheet" href="~/css/Events.css" />
</head>
<body>
<div class="Evenementen">
    @foreach (var eventItem in Model.EventsList)
    {
        <div class="kaart">
            <h2>@eventItem.Title</h2> 
            <h3>@eventItem.Date.ToString("dd-MM-yy"), @eventItem.StartTime.ToString(@"hh\:mm")</h3> 
            <p id="beschijving">
                @eventItem.Description 
            </p>
            <button><p>Deelnemers</p></button>
            <button><p>Aanmelden</p></button>
        </div>
    }
</div>
</body>

