@page
@model EventsModel
@{
    ViewData["Title"] = "Evenementen";
}
<head>
    <link rel="stylesheet" href="~/css/Events.css" />
</head>
<body>
    <h1 id="titel">Evenementen</h1>
    <div class="Evenementen">
        <div class="kaart">
            <h2>Paintball middag</h2>
            <h3>00/00/2023, 00:00</h3>
            <p id="beschijving">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut scelerisque laoreet elementum. Aliquam ligula magna, viverra in ex a, fermentum accumsan leo.
            </p>
            <button><p>Deelnemers</p></button>
            <button><p>Aanmelden</p></button>
        </div>
        <div class="kaart">
            <h2>Halloween party!</h2>
            <h3>00/00/2023, 00:00</h3>
            <p id="beschijving">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut scelerisque laoreet elementum. Aliquam ligula magna, viverra in ex a, fermentum accumsan leo.
            </p>
            <button><p>Deelnemers</p></button>
            <button><p>Aanmelden</p></button>
        </div>
    </div>
</body>
