@page
@model CaveroClubhuis.Pages.IndexModel
@{
    ViewData["Title"] = "Homepage";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Dit is de clubhuis app van Cavero.</p>
</div>