@page
@model CaveroClubhuis.Pages.IndexModel
@{
    ViewData["Title"] = "Homepage";
    
}

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css" />
    <link rel="stylesheet" href="~/css/index.css"/>
</head>



<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Dit is de clubhuis app van Cavero.</p>
    
    <div class="check-inWidget">
        <p>Inchecken</p>
        Selecteer een datum:
        
        <ejs-datepicker id="datepicker" bind-Value="@Model.SelectedDate" renderdaycell="onRenderCell"></ejs-datepicker>

        
        <form method="post" asp-page-handler="CheckIn">
            <input type="hidden" asp-for="SelectedDate" />
            <button type="submit" class="check-in">
                <i class="ri-login-circle-line"></i>
                Check - in
            </button>
        </form>

    </div>
    
    <div id='container1'>
        <div style="width: 300px; height: 75px; padding-left: 25px; padding-right: 25px; padding-top: 16px; padding-bottom: 16px; background: #803689; border-radius: 20px; justify-content: flex-start; align-items: center; gap: 16px; display: inline-flex">
            <div style="width: 27px; height: 25px; position: relative">
                <i class="ri-group-fill" style="color: white; font-size: 25px; position: absolute; left: 0; top: -7px;"></i>
            </div>

            <div style="flex-direction: column; justify-content: center; align-items: center; gap: 9px; display: inline-flex">
                <div style="text-align: center; color: white; font-size: 18px; font-family: Arial; font-weight: 400; line-height: 20px; letter-spacing: 0.50px; word-wrap: break-word">@Model.PeopleCount</div>
            </div>
            <div style="width: 2px; height: 40px; background-color: white; margin: 0 8px;"></div> <!-- White divider -->
            <div style="display: inline-flex; gap: 8px; white-space: nowrap;">
                <ejs-button id="targetButton" content="Caverianen in de loods" cssClass="custom-button"></ejs-button>
                <ejs-dialog id='dialog' header="Caverianen in de loods"  target="#targetButton" showCloseIcon="true" visible="false" width="500px" >
                    <e-content-template>
                        <ejs-grid id="Grid" dataSource="@Model.People" width="470">
                            <e-grid-columns>
                                <e-grid-column field="FirstName" headerText="Voornaam" textAlign="Center" width="40"></e-grid-column>
                                <e-grid-column field="LastName" headerText="Achternaam" textAlign="Center" width="40"></e-grid-column>
                                <e-grid-column field="Team" headerText="Team" textAlign="Center" width="40"></e-grid-column>
                            </e-grid-columns>
                        </ejs-grid>
                    </e-content-template>
                </ejs-dialog>
            </div>
            
            <script>
                window.onload = function () {
                    var dialog = document.getElementById("dialog").ej2_instances[0];

                    document.getElementById('targetButton').onclick = function () {
                        // Set the dialog target to the button and position it above
                        dialog.target = '#targetButton';
                        dialog.position = { X: 'center', Y: 'top' };
                        dialog.show();
                    };

                    window.onresize = function () {
                        // Ensure the dialog is repositioned when the window is resized
                        dialog.refreshPosition();
                    };
                };
            </script>
            
            
            <script>
            function onRenderCell(args) {
                if (args.date.getDay() == 0 || args.date.getDay() == 6) {
                    args.isDisabled = true;
                }
            }
            </script>
            
        </div>
    </div>
</div>
