@page
@model KalenderModel
@{
    ViewData["Title"] = "Kalender";
}

<head>
    <link rel="stylesheet" href="~/css/kalender.css" />
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js'></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridWeek',
                firstDay: 1, // zorgt ervoor dat de week op maandag begint (standaard is zondag)
                locale: 'nl', // zorgt ervoor dat het een nederlandse agenda na doet (dagen/tijd)
                events: @Html.Raw(Json.Serialize(Model.EventsList.Select(e => new { title = e.Title, start = e.Date.ToString("yyyy-MM-dd") + 'T' + e.StartTime, end = e.Date.ToString("yyyy-MM-dd") + 'T' + e.EndTime })))
            });
            calendar.render();
        });
    </script>
</head>
<div id='calendar'></div>
