@page
@model Microsoft.AspNetCore.Identity.UI.V5.Pages.Account.Internal.LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = "_EmptyLayout.cshtml";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- link for remixicons icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css" />
    <link rel="stylesheet" href="~/css/user-auth.css"/>
    
</head>

<body class="css-selector">
<div class="login">
    <form method="post" action="" class="login_form">
        <img class="logo" src="~/images/logo.png" alt="Cavero Logo" width="50" height="50">
        <h1 class="login_title">Log in</h1>

        <div class="login_register">
            Nog geen account? <a href="./Register">Registreer hier!</a>
        </div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="login_input">
            <div class="login_box">
                <input type="email" asp-for="Input.Email" placeholder="Email" required class="login_input">
                <i class="ri-mail-fill"></i>
            </div>
            <span asp-validation-for="Input.Email" class="text-danger"></span>

            <div class="login_box">
                <input type="password" asp-for="Input.Password" placeholder="Wachtwoord" required class="login_input">
                <i class="ri-lock-2-fill"></i>
            </div>
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>

        <div class="login_check">
            <div class="login_check-box">
                <label asp-for="Input.RememberMe" class="form-label">
                    <input class="form-check-input" asp-for="Input.RememberMe"/>
                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                </label>
            </div>
            <a asp-page="./ForgotPassword" class="login_forgot">Wachtwoord vergeten?</a>
        </div>
        <button type="submit" class="login_button">&rarr; Inloggen</button>
    </form>
</div>
</body>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}