@page
@model Microsoft.AspNetCore.Identity.UI.V5.Pages.Account.Internal.LoginModel

@{
    ViewData["Title"] = "Log in";
}

<h1><center>@ViewData["Title"]</center></h1>
<div class="row">
    <div class="col-md-4" style="width:400px; margin:0 auto;">
        <section>
            <form id="account" method="post">
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input id="Input-mail" asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" style="border-color:#803689" />
                    <label asp-for="Input.Email" class="form-label">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input id="Input-password" asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" style="border-color:#803689" />
                    <label asp-for="Input.Password" class="form-label">Password</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                </div>
                <div class="checkbox mb-3">
                    <label asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary" style="background-color:#803689">Log in</button>
                </div>
                <hr />
                <div>
                    <button id="register" type="button" class="w-100 btn btn-lg btn-primary" style="background-color:#B1B3B4" onclick="location.href = './Register'">Register as a new user</button>
                </div>
                <div>
                    <!--<p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>-->
                    <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<style>
#Input-mail{
      box-shadow: 4px 4px 8px #888888;
}
#Input-password{
      box-shadow: 4px 4px 8px #888888;
}
</style>
