@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "_EmptyLayout.cshtml";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- link for remixicons icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css" />
    <link rel="stylesheet" href="~/css/user-auth.css"/>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
</head>


<body class="css-selector">
<div class="login">
    <form method="post" action="" class="login_form">
        <img class="logo" src="~/images/logo.png" alt="Cavero Logo" width="50" height="50">
        <h1 class="login_title">Registreer</h1>
        
                <div class="login_register">
                    Heb je al een account? <a href="./Login">Log hier in!</a>
                </div>
        <div class="login_input">
            
    <div class = "name-fields">        
            <div class="login_box">
                <input type="text" asp-for="Input.FirstName" placeholder="Voornaam" required class="login_input smaller-input">
                <i class="ri-user-fill"></i>
            </div>
            
            <div class="login_box">
                <input type="text" asp-for="Input.LastName" placeholder="Achternaam" required class="login_input smaller-input">
                <i class="ri-user-fill"></i>
            </div>
    </div>
            <div class="login_box">
                <input type="email" asp-for="Input.Email" placeholder="Email" required class="login_input">
                <i class="ri-mail-fill"></i>
            </div>
            <span asp-validation-for="Input.Email" class="text-danger"></span>

            <div class="login_box">
                <input type="password" asp-for="Input.Password" placeholder="Wachtwoord" required class="login_input">
                <i class="ri-lock-2-fill"></i>
            </div>
            <span asp-validation-for="Input.Password" class="text-danger"></span>

            <div class="login_box">
                <input type="password" asp-for="Input.ConfirmPassword" placeholder="Bevestig wachtwoord" required class="login_input">
                <i class="ri-lock-2-fill"></i>
            </div>
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            
        </div>
        <button type="submit" class="login_button">&rarr; Registreren</button>
    </form>
</div>
</body>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}