@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "_EmptyLayout.cshtml";
}
@using Newtonsoft.Json
@addTagHelper *, Syncfusion.EJ2

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- link for remixicons icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css" />
    <link rel="stylesheet" href="~/css/user-auth.css"/>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/23.1.44/bootstrap4.css" />
    <script src="https://cdn.syncfusion.com/ej2/23.1.44/dist/ej2.min.js"></script>
</head>

<body class="css-selector">
<div class="login">
    <form method="post" action="" class="login_form">
        <img class="logo" src="~/images/logo.png" alt="Cavero Logo" width="50" height="50">
        <h1 class="login_title">Registreer</h1>
        
        <div class="login_register">
            Heb je al een account? <a href="./Login">Log hier in!</a>
        </div>
        <div class="validation-summary-errors text-danger" asp-validation-summary="All"></div>
        <div class="login_input">
            
    <div class = "name-fields">        
            <div class="login_box">
                <input type="text" asp-for="Input.FirstName" placeholder="Voornaam" required class="login_input smaller-input">
                <i class="ri-user-fill"></i>
            </div>
            
            <div class="login_box">
                <input type="text" asp-for="Input.LastName" placeholder="Achternaam" required class="login_input smaller-input">
                <i class="ri-user-fill"></i>
            </div>
    </div>
            <div class="login_box">
                <input type="email" asp-for="Input.Email" placeholder="Email" required class="login_input">
                <i class="ri-mail-fill"></i>
            </div>
            <span asp-validation-for="Input.Email" class="text-danger"></span>

                    <div class="login_box">
                        <input type="password" asp-for="Input.Password" placeholder="Wachtwoord" required class="login_input">
                        <i class="ri-lock-2-fill"></i>
                    </div>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>

                    <div class="login_box">
                        <input type="password" asp-for="Input.ConfirmPassword" placeholder="Bevestig wachtwoord" required class="login_input">
                        <i class="ri-lock-2-fill"></i>
                    </div>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>

                    <div>
                        <ejs-dropdownlist id="selectedTeam" dataSource="@Model.AllTeams" cssClass="form-control" placeholder="Kies een team" allowFiltering="true" filtering="onfiltering" ejs-for="Input.SelectedTeams">
                            <e-dropdownlist-fields text="Title" value="Id"></e-dropdownlist-fields>
                        </ejs-dropdownlist>
                    </div>
                    <span asp-validation-for="Input.SelectedTeams" class="text-danger"></span>
                </div>
        <button type="submit" class="login_button">&rarr; Registreren</button>
    </form>
</div>
</body>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <ejs-scripts></ejs-scripts>
}


<script>
    function onfiltering(e) {
        var query = new ej.data.Query();
        query = (e.text !== '') ? query.where('Title', 'startswith', e.text, true) : query;
        e.updateData(@Html.Raw(JsonConvert.SerializeObject(Model.AllTeams)), query);
    }
</script>


<style>
    .e-dropdownbase .e-list-item.e-item-focus, .e-dropdownbase .e-list-item.e-active, .e-dropdownbase .e-list-item.e-active.e-hover, .e-dropdownbase .e-list-item.e-hover {
        background-color: #803689 !important;
        color: white !important;
    }

    .e-input-group:not(.e-success):not(.e-warning):not(.e-error), .e-input-group.e-control-wrapper:not(.e-success):not(.e-warning):not(.e-error) {
        border: 2px solid black;
        border-radius: 10px;
        color: black;
    }

    .e-input-group.e-input-focus:not(.e-success):not(.e-warning):not(.e-error), .e-input-group.e-control-wrapper.e-input-focus:not(.e-success):not(.e-warning):not(.e-error) {
        border-color: black;
        box-shadow: 0 0 0 0px;
    }


    #selectedTeam_popup.e-popup {
        border: 2px solid black; /* Change the border color and width as needed */
    }

    #selectedTeam{
        color: black;
    }



</style>