@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
    Layout = "_EmptyLayout.cshtml";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- link for remixicons icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css" />
    <link rel="stylesheet" href="~/css/user-auth.css" />
</head>

<body class="css-selector">
    <div class="login">
        <form method="post" action="" class="login_form">
            <i class="ri-check-line check_logo" style="font-size: 2rem; color: green;"></i>
            <h1 class="login_title">Password Reset Complete.</h1>
            <div class="confirmation-message">
                <p>Your password has been reset. You will be redirected to the login page...</p>
            </div>
        </form>
    </div>
</body>


<script>
    setTimeout(function () {
        window.location.href = "/Identity/Account/Login";
    }, 6000);
</script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}