@media screen and (max-width: 600px) {
    /* Adjust styles for smaller screens */
     .make-event, .e-control {
        position: absolute !important;
        right: 0 !important;
        bottom: 0 !important;
        left: 0 !important;
    }
}
.admin-bar {
    display: inline-block;
    float: left;
    margin-left: 80px;
    margin-right: 100px;
    max-width: 120px;
    height: 460px;
    background-color: #ffffff;
    border-radius: 13px;
    border: 2px solid #d9d9d9;
}

.admin-button {
    margin-top: 20px;
    margin-left: 8px;
    border-radius: 5px;
    max-width: 100px;
    border-color: transparent;
    background-color: #d9d9d9;
}

    .admin-button:hover {
        border-color: #803689;
    }

.make-event {
    display: flex;
    flex-direction:column;
    margin-top: 10px;
    max-width: 450px;
    min-height: 525px;
    max-height: 525px;
    background-color: #ffffff;
    border-radius: 13px;
    border: 2px solid #d9d9d9;
    overflow-y: auto;
}
.make-event-form {
    display: flex;
    flex-direction: column;
    max-width: 300px;

}

    .make-event-form input,
    .make-event-form select {
        margin-left: 75px;
        min-height: 23px;
        box-sizing: border-box;
        border: 2px solid #b1b3b4;
        border-radius: 3px;
    }
        .make-event-form select:invalid,
        .make-event-form select option[value=""] {
            color: #b1b3b4;
        }

        .make-event-form input[type="date"] {
            min-height: 23px;
        }
        .make-event-form input[type="submit"], #Maakevent-closebutton {
            margin-top: 10px;
            min-height: 30px;
            border-radius: 10px;
            background-color: #803689;
            color: white;
        }
#Maakevent-closebutton {
    margin-left: 75px;
    border: 2px solid #b1b3b4;
}
#Maakevent-closebutton:hover, #adminremoveteam-closebutton:hover {
    border: 1px #803689;
}
#adminremoveteam-closebutton {
    margin-top: 10px;
    min-height: 30px;
    border-radius: 10px;
    background-color: #803689;
    border: 2px solid #b1b3b4;
    color: white;
    width: 200px;
}
    .make-event-form label {
        margin-left: 75px;
        min-height: 23px;
        box-sizing: border-box;
        color: #666666;
        margin-top: 5px;
        font-weight: 500;
    }

    .make-event-form textarea {
        margin-left: 75px;
        min-height: 50px;
        box-sizing: border-box;
        resize: none;
        border: 2px solid #b1b3b4;
        border-radius: 3px;
    }

.error-message {
    margin-left: 75px;
    color: red; 
}

.make-event::-webkit-scrollbar {
    width: 10px;
    margin-left: -100px;
}

.make-event::-webkit-scrollbar-track {
    background: #f2f0f8;
}

.make-event::-webkit-scrollbar-thumb {
    background-color: #b1b3b4;
    border-radius: 10px;
    border: 3px solid #ffffff;
}


.make-event-form textarea:hover,
.make-event-form select:hover,
.make-event-form input:hover {
    border: 2px solid #803689;
}

.form-dialog-header {
    display: flex;
    flex-direction: column; /* Assuming .make-event is a flex container */
    align-items: center; /* Center items horizontally */
}

.line {
    height: 1px;
    width: 370px; /* Set the width to 300px */
    border-bottom: 1px solid rgba(177, 179, 180, 0.2);
    ;
}

.form-dialog-header header {
    padding: 10px;
    font-size: 20px;
    font-weight: normal;
    text-align: center;
}

.explain {
    margin-left: 75px;
}


.remove-team-form .explain
{
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 0px;
}
.remove-team-form input[type="submit"] {
    border-color: #b1b3b4;
    width: 200px;
    margin-top: 10px;
    min-height: 30px;
    border-radius: 10px;
    background-color: #803689;
    color: white;
}
    .remove-team-form input[type="submit"]:hover {
        border-color: #803689;
    }
    .error-message-remove {
        color: red;
        margin-bottom: 10px;
    }

/*AdminChange*/
.confirm-button {
    background-color: #803689 !important;
    border-color: #803689 !important;
    color: white !important;
}

.terug-button {
    background-color: #803689 !important;
    border-color: #803689 !important;
    color: white !important;
}

.e-dialog {
    text-align: center; /* Horizontal centering */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}




    .e-dialog .e-dlg-header {
        width: 340px;
        font-size: 20px;
        font-weight: normal;
        position: relative;
    }

    .e-dialog .e-dlg-content {
        display: flex;
        flex-direction: column;
        min-height: 200px;
        overflow: auto;
    }

    .e-dialog .e-dlg-content {
        overflow-y: auto;
    }

.error-messageDialog {
    color: red;
}

#dialog1 {
    width: 550px !important;
}

.e-dropdownbase .e-list-item.e-item-focus, .e-dropdownbase .e-list-item.e-active, .e-dropdownbase .e-list-item.e-active.e-hover, .e-dropdownbase .e-list-item.e-hover {
    background-color: #803689 !important;
    color: white !important;
}


/*
.error-message {
    max-width: 40%;
    display: block;
    float: left;
    margin-left: 20%;
    color: red;
}

.make-event label {
    margin-left: 20%;
    font-size: 15px;
    font-weight: bolder;
    color: #b1b3b4;
}

.make-event input {
    float: left;
    margin-left: 23%;
    border-radius: 5px;
    border: 2px solid #d9d9d9;
    outline: none;
}

        .make-event input:hover {
            border-color: #803689;
        }
    .make-event textarea:hover {
        border-color: #803689;
    }

        .make-event input[type="text"] {
            width: 50%;
        }

.make-event input[type="submit"] {
    margin-left: 40%;
    width: 100px;
    border-radius: 20px;
    background-color: #803689;
    color: white;
}

    .make-event input[type="submit"]:focus {
        width: 100px;
        border-radius: 20px;
        background-color: #b1b3b4;
        color: black;
    }


        .make-event input[type="time"] {
            width: 30%;
        }
        .make-event input[type="date"] {
            width: 30%;
        }

            .make-event input:focus {
                border: 2px solid #803689;
            }

.make-event textarea {
    margin-left: 23%;
    width: 50%;
    height: 59px;
    padding: 5px;
    border-radius: 5px;
    outline: none;
    resize: none;
    border: 2px solid #d9d9d9;
}

        .make-event textarea:focus {
            border: 2px solid #803689;
        }

    .make-event textarea::-webkit-scrollbar {
        width: 0px;
    }


.make-event select {
    border: 2px solid #d9d9d9;
}
.make-event select:focus {
    border: 2px solid #803689;
}
*/