/*full page*/
.Wrapper {
    margin-left: 1%;
}

/*accordion menu*/
.Accordion {
    background-color: #F2F0F8;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 60%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    border-radius: 30px;
}

    .active, .Accordion:hover {
        background-color: #cccccc70;
    }

.flexbox {
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.Title-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

    .Title-bar::before {
        content: '';
        width: 28px;
    }

.modal-title {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
}

.Title {
    text-align: center;
    font-size: 20px;
}

.titleLine {
    width: 40%;
    margin: 0 auto;
}

.arrow-down {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 20px solid black;
    transition: transform 0.3s ease;
    transform: rotate(0deg);
    margin-left: 8px;
    position: absolute;
    right: 0;
    top: 30%;
}

.active .arrow-down {
    transform: rotate(180deg);
}

/*All event items*/
.panel {
    display: none;
    padding: 10px;
    width: 60%;
    overflow: auto;
    overflow-y: scroll;
    max-height: 60vh;
}

    .panel::-webkit-scrollbar {
        width: 10px;
    }

    .panel::-webkit-scrollbar-track {
        background: #f2f0f8;
    }

    .panel::-webkit-scrollbar-thumb {
        background-color: #b1b3b4;
        border-radius: 10px;
        border: 3px solid #ffffff;
    }

/*single event item*/
.Evenementen-opkomend, .Evenementen-verlopen {
    background-color: #803689;
    border-radius: 30px;
    margin-bottom: 10px;
    height: 120px;
}

    .Evenementen-opkomend h2, .Evenementen-verlopen h2 {
        margin-top: 20px;
        font-size: 20px;
        color: #FFFFFF;
        margin-left: 5%;
    }

    .Evenementen-opkomend h3, .Evenementen-verlopen h3 {
        color: #FFFFFF;
        font-size: 12px;
        margin-left: 5%;
    }

    .Evenementen-opkomend #beschijving, .Evenementen-verlopen #beschijving {
        color: #FFFFFF;
        font-size: 16px;
        margin-left: 5%;
        width: 50%;
    }

.openModalBtn {
    float: right;
    background-color: #FFFFFF;
    border-radius: 45px;
    width: 150px;
    height: 50px;
    margin-right: 20px;
}

    button p {
        color: #47525E;
        font-size: 19px;
        margin-top: 8px;
    }

/*pop up inside event item*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 200px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.6);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    text-align: center;
}

.content {
    margin-top: 20px;
    height: 20vh;
    overflow-y: auto;
}
    .content::-webkit-scrollbar {
        width: 10px;
    }

    .content::-webkit-scrollbar-thumb {
        background-color: #b1b3b4;
        border-radius: 10px;
        border: 3px solid #ffffff;
    }

.aamodel {
    margin-top: 70px;
    height: 7vh;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    right: 0;
}

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

.description-button-container-opkomend, .description-button-container-verlopen {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feedback {
    width: 60%;
    height: auto;
    margin: 0 auto;
    margin-top: 20px;
}

.Send-feedback {
    float: right;
    background-color: #FFFFFF;
    border-radius: 45px;
    width: 150px;
    height: 50px;
    margin-right: 20px;
    margin-top: 20px;
}

/* Media query for mobile devices */
@media (max-width: 480px) {
    .Accordion, .panel, .Evenementen-opkomend, .Evenementen-verlopen {
        width: 100%;
    }

    .Evenementen-opkomend {
        height: 170px;
    }

    .Evenementen-verlopen {
        height: 130px;
    }

        .Evenementen-opkomend h2, .Evenementen-verlopen h2 {
            font-size: 18px;
        }

        .Evenementen-opkomend h3, .Evenementen-verlopen h3 {
            font-size: 11px;
        }

        .Evenementen-opkomend #beschijving, .Evenementen-verlopen #beschijving {
            font-size: 14px;
            width: 90%;
        }

    .modal-content {
        width: 90%;
    }

    .description-button-container-opkomend {
        display: block;
    }

    .feedback {
        width: 100%;
    }
}
