/* kalender.css */
html, body {
    overflow-x: hidden; /* zorgt ervoor dat de pagina niet scroll able is side-ways */
    overflow: hidden;
}

/* achtergrond kleur van de agenda */
#calendar {
    margin-left: 10px;
    margin-right: 10px;
    background-color: #f2f0f8; /* achtergrond kleur van de agenda */
    height: 65vh; /* zorgt ervoor dat de kalender duidelijk te zien is op ieder scherm */
    text-align: center;
    overflow-y: scroll;
    scrollbar-width: auto;
    overflow: scroll;
    overflow-x: hidden;
}

#calendar .fc-toolbar {
    background-color: #803689; /* head kleur */
    color: #fff; /* tekst kleur van de head*/
    text-align: center;
    font-size: 14px; /* kleinere font zodat mobile niet cluster fuck is */
}

.fc-toolbar text {
    margin-left: 100px;
}
#calendar .fc-toolbar-title {
    font-size: 18px; /* font van title kleiner zodat mobile niet fucked is */
}
#calendar .fc-header-toolbar button {
    color: #fff; /* kleur van de buttons */
    font-size: 12px; /* kleinere buttons zodat mobile niet cluster fuck is */
}

#calendar .fc-dayGridWeek {
    background-color: #fff; /* kleuur van de weken */
    border: 1px solid #ddd; /* geef het eeen border */
    border-radius: 5px;
    margin: 10px 0;
    font-size: 12px; /* kleinere font zodat mobile niet cluster fuck is */
}

#calendar .fc-dayGridWeek th {
    background-color: #333; /* week header */
    color: #fff; /* week header kleur (tekst) */
    font-size: 12px; /* kleinere font zodat mobile niet cluster fuck is */
}

#calendar .fc-event {
    background-color: #4285f4; /* background kleur van de event */
    color: #fff; /* tekst kleur van de event */
    border: 1px solid #4285f4; /* kleur van border */
    border-radius: 3px;
    font-size: 12px; /* kleinere font zodat mobile niet cluster fuck is */
}

.fc-event:hover + .fc-event {
    display: block;
}
.cross {
    display: none !important;
}

/* css voor de dagen zodat hij mee scrolt naar beneden */
thead {
    position: sticky;
    top: 30px;
    background-color: #f2f0f8;
    z-index: 2; /* zorgt ervoor dat de inhoud boven op alles staat */
}

.fc-toolbar {
    position: sticky;
    top: 0;
    z-index: 2; /* zorgt ervoor dat de inhoud boven op alles staat */
}

/* jona code voor scroll-bar */
/* Chrome, Edge, and Safari */
#calendar::-webkit-scrollbar {
    width: 10px;
}

#calendar::-webkit-scrollbar-track {
    background: #f2f0f8;
}

#calendar::-webkit-scrollbar-thumb {
    background-color: #b1b3b4;
    border-radius: 10px;
    border: 3px solid #f2f0f8;
}

/* later kijken om dit in de layout.css te zetten maar omdat alleen kalender dit heeft, hierin laten*/
.sidebar a:hover {
    text-decoration:none;
}
