

/* Targets HDPI laptops  */
@media screen and (min-width: 1368px) and (max-width: 1824px), screen and (min-resolution: 2dppx){
    
    .sidebar.sidebar {
        max-width: 250px;
    }

    .sidebar-menu-button.sidebar-menu-button, .Log-out.Log-out, .check-in.check-in{
        transform: scale(0.9);
    }
    
    .cavero-logo .cavero-logo{
        max-width: 60%;
        margin-left: 10px;
    }
    
    .cavero-logo .desktop-logo {
        max-width: 60%;
        margin-left: 10px;
    }

    .sidebar a {
    margin-right: 10px;
    }
    
    .profile{
        margin-right: 10px;
    }
    
    .Logout-F.Logout-F{
        margin-right: 10px;
    }
    
    .Headertxt.Headertxt{
        font-size: 50px;
    }
    
}


/* Targets MDPI laptops  */
@media screen and (min-width: 1368px) and (max-width: 1824px) {
    .sidebar {
        max-width: 250px;
    }

    .sidebar-menu-button, .Log-out, .check-in {
        transform: scale(0.9);
    }

    .cavero-logo {
        max-width: 80%;
        margin-left: 10px;
    }

    .cavero-logo .desktop-logo {
        max-width: 50%;
        margin-left: 10px;
    }

    .sidebar a {
        margin-right: 10px;
    }

    .profile {
        margin-right: 10px;
    }

    .Logout-F.Logout-F{
        margin-right: 10px;
    }

    .Headertxt.Headertxt{
        font-size: 50px;
    }

    .header-container.header-container{
        left: 250px;
    }
}

/* Mobile devices  */
@media screen and (max-width: 768px) {
    .sidebar {
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
        position: fixed;
        top: 0;
        left: 0;
        width: 70%;
        height: 100%;
        background-color: #803689;
        border-radius: 0 10px 10px 0;
        z-index: 102;
    }

    .sidebar.open {
        transform: translateX(0);
    }

    .sidebar-overlay {
        display: none;
        pointer-events: none;
    }

    .sidebar-overlay.active {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 100;
        pointer-events: auto;
    }
    

    html, body {
        overflow: hidden;
    }

    .sidebar.open ~ .main-content,
    .sidebar.open ~ .sidebar-overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .header-container.header-container {
        left: 13%;
    }
    
    .header-container.header-container .hamburger-menu-icon {
        display: block;
    }

    .main-content {
        margin-left: 0;
        width: 100%;
    }

    .page-content {
        margin-left: 0;
        width: 100%;
    }

    .hamburger-menu-icon {
        display: block;
        position: fixed;
        top: 20px;
        left: 20px;
        z-index: 200;
        width: 30px;
        height: auto;
        border: none;
    }
    
    .sidebar-menu-button.sidebar-menu-button{
        margin-top: 20px;
    }
}

.hamburger-menu-icon {
    display: none;
}


.background {
    background-color: #f2f0f8;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    height: 100vh;

}

.sidebar {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #803689;
    border-radius: 0 10px 10px 0;
    max-width: 328px;
    height: 100vh;
    z-index: 102;
}


.header-container {
    position: fixed;
    top: 0;
    left: 328px;
    right: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 101;
}


.Logout-F{
    display: flex;
    margin:0;
    padding:0;
    border:0;
}

.Headertxt{
    margin-top: 40px;
    margin-left: 40px;
    width: calc(328 - 100vw);
    color: #000;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Arial;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.2px;
}

.page-content{
    margin-top : 200px;
    flex-grow: 1;
}

.main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
}


.top-sidebar {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    padding: 5px;
}

.settings {
    margin-top: 15px;
    margin-left: 5px;
    margin-bottom: 20px;
    background-color: transparent;
    border-color: transparent;
    max-width: 144px;
    top: 823px;
    left: 25px;
    font-family: "Inter", Helvetica, serif;
    font-weight: 600;
    color: #b1b3b4;
    font-size: 30px;
    text-align: center;
    letter-spacing: -0.2px;
    line-height: 32px;
    white-space: nowrap;
}

/* Need to find another way of doing this */
.settingsspace{
    margin-top: auto;
    margin-left: 5px;
    margin-bottom: auto;
}


.line-2 {
    opacity: 0.5;
    background-color: #b1b3b4;
    width: calc(100vw);
    height: 2px;
    left: 328px;
    top: 121px;
    object-fit: cover;
}

.line-3 {
    opacity: 0.5;
    background-color: #b1b3b4;
    max-width: 90%;
    height: 2px;
    top: 785px;
    object-fit: cover;
}

.cavero-logo {
    align-items: center;
    left: 50px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
}

.cavero-logo .desktop-logo {
    display: block; 
    max-width: 100%; 
    height: auto; 
}


.profile {
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    max-width: 284px;
    height: 95px;
    top: 170px;
    left: 17px;
    background-color: #d9d9d9;
    border-radius: 13px;
}

.profile_picture {
    margin-left: 20px;
    width: 55px;
    height: 55px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #b1b3b4;
}

.profile_text {
    margin-left: 10px;
    width: 150px;
    font-weight: bold;
    color: #000000;
    text-align: center;
    white-space: nowrap;
}

.check-in {
    margin-top: 50px;
    margin-left: 20px;
    width: 284px;
    height: 54px;
    top: 320px;
    left: 9%;
    font-weight: bold;
    white-space: nowrap;
    border-radius: 13px;
    border-color: transparent;
    background-color: #d9d9d9;
}

.Log-out{
    margin-top: 50px;
    margin-left: 20px;
    width: 284px;
    height: 54px;
    top: 320px;
    left: 9%;
    font-weight: bold;
    white-space: nowrap;
    border-radius: 13px;
    border-color: transparent;
    background-color: #d9d9d9;
}


.Log-out:hover {
    background: #ffffff;
    color: #000000;
    box-shadow: none;
}

.Log-out:active {
    animation: gradient 150ms;
    background: #ffffff;
    color: #000000;
    box-shadow: none;
}

.check-in:hover {
    background: #ffffff;
    color: #000000;
    box-shadow: none;
}

.check-in:active {
    animation: gradient 150ms;
    background: #ffffff;
    color: #000000;
    box-shadow: none;
}

.sidebar a {
    text-decoration: none;
    display: flex;
}

.button-text {
    margin-left: 10px;
}


.sidebar-menu-button {
    display: flex; 
    align-items: center; 
    justify-content: center;
    margin-top: 50px;
    margin-left: 20px;
    width: 284px;
    height: 54px;
    top: 320px;
    left: 9%;
    font-weight: bold;
    white-space: nowrap;
    border-radius: 13px;
    border-color: transparent;
    background-color: #d9d9d9;
    transition: 0.3s;
}
.sidebar-menu-button:hover {
    background: rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    
    filter: invert(100%);
}

