.confirm-button {
    background-color: #803689 !important;
    border-color: #803689 !important;
    color: white !important;
}
.nav-pills .nav-link {
    color: black; /* Set the desired text color */
    background-color: rgb(217, 217, 217); font-weight: bold;
    margin-bottom: 10px;
}

    .nav-pills .nav-link:hover {
        color: #ffffff; /* Set the desired text color on hover */
        background-color: #6c2e73 /* Set the desired background color on hover */
    }

    .nav-pills .nav-link.active {
        color: #ffffff; /* Set the text color for the active state */
        background-color: #6c2e73; /* Set the background color for the active state */
    }
main {
    overflow-x: hidden; /* zorgt ervoor dat de pagina niet scroll able is side-ways */
    margin-left: 10px;
}