@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Dit gaat de home pagina zijn van de nieuwe clubhuis app.</p>
</div>
